<header class="navbar navbar-expand-lg bg-primary px-4">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center text-white" href="#">
            <img th:src="@{/images/logo.png}" alt="Logo" class="me-2" style="height: 40px;">
            <span class="fs-4 fw-bold">ImobiFlow</span>
        </a>

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item" th:if="${session.usuarioLogado != null and session.usuarioLogado.admin}">
                    <a class="nav-link text-white" th:href="@{/usuario/pagina}">Gerenciar Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/dashboard}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/imobiliarias}">Imobiliária</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/clientes}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/logout}">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</header>
